<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MemoApp"
        tools:targetApi="31">
        <activity
            android:name=".FirstActivity"
            android:exported="true"
            android:label="FirstActivity"
            android:theme="@style/Theme.MemoApp">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name=".NewAccountActivity"
            android:exported="true" />
        <!--line 24 was previously set to false-->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MemoApp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NoteActivity"
            android:exported="true"
            android:label="@string/title_activity_note"
            android:theme="@style/Theme.MemoApp">
        </activity>
        <activity
            android:name=".CreateMemoActivity"
            android:exported="true"
            android:label="CreateMemoActivity"
            android:theme="@style/Theme.MemoApp">
        </activity>
        <activity
            android:name=".MemoView"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MemoApp">
            <!-- Comment for now, don't remove just yet -->
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
    </application>

</manifest>